@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.nav {
    background-color: #2E948A;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 2vh;
    margin-left: 5vw;
}

.li-nav {
    text-decoration: none;
    color: #FDFDFD;
}

.ul-nav {
    list-style-type: none;
    display: flex;
    font-weight: 600;
    align-items: center;
    margin-right: 5vw;
}

.margin-nav {
    margin: 0 5vw;
}

.footer {
    background-color: #2E948A;
    display: flex;
    justify-content: space-between;
}

.ul-footer {
    list-style-type: none;
    font-weight: 500;
    align-items: center;
    margin: 3vw;    
}

.btn {
    border: 1px solid #FF4081;
    border-radius: 47px;
    color: #FF4081;
    padding: 7px 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    margin-right: 8vw;
    margin-top: 100px;
    cursor: pointer;
}

.btn-footer {
    border: 1px solid #FDFDFD;
    border-radius: 47px;
    color: #FDFDFD;
    padding: 7px 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    margin-right: 8vw;
    margin-top: 100px;
}

.link-footer {
    margin-top: 2.5vw;
    margin-bottom: 4vh;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    padding-bottom: 10vh;
}

.section1 h1 {
    color: #FF4081;
    font-size: 60px;
    width: 30vw;
    margin-bottom: 3vh;
}

.section1 p {
    font-size: 3vh;
    width: 25vw;
    font-weight: 400;
    margin-bottom: 4vh;
}

.section1 a {
    color: #FF4081;
    border-color: #FF4081;
}

.section1 img {
    width: 35vw;
    margin-top: 17vh;
}

.section2 {
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-around;
    padding: 10vh;
}

.section2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2 img {
    height: 32vh;
}

.section2 h3 {
    display: flex;
    color: #FF4081;
    justify-content: center;
    margin-top: 4vh;
    font-size: 3vh;
}

.section2 p {
    font-size: 1.8vh;
    width: 17vw;
    display: flex;
    text-align: center;
    margin-top: 3vh;
}

.section2 a {
    background-color: #FF4081;
    border-radius: 47px;
    color: #FDFDFD;
    padding: 7px 27px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    margin-top: 4vh;
}

.h2-grid {
    background-color: #F7F7F7;
    color: #009688;
    padding: 11vh 0 2vh 7.5vw;
}

.section3 {
    background-color: #F7F7F7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 20vh;
}

.section3 div {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 35vw;
    padding: 3vw;
    margin-left: 4vw;
}

.margin-grid-text {
    margin-left: 2vw;
}

.h2-grid2 {
    background-color: #E5E5E5;
    color: #009688;
    padding: 9vh 0 7vh 7.5vw;
}

.section4 {
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section4 div {
    width: 20vw;
}

.section4 img {
    width: 20vw;
}

.h4-section4 {
    color:#009688;
    font-size: 130%;
    margin-top: 1vh;
}

.btn2 {
    border: 1px solid #FF4081;
    border-radius: 47px;
    color: #FF4081;
    padding: 7px 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    margin-top: 10vh;
    margin-bottom: 8vh;
}

.div-btn2 {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form {
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-evenly;
    padding: 10vh 0;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form label {
    font-size: 40px;
    font-weight: 700;
    color: #FF4081;
    align-self: flex-start;
    margin: 0px 0px 4vw 0px;
}

.form input {
    font-size: 16px;
    font-weight: 400;
    color: #58555D;
    border: 1px solid #686868;
    border-radius: 7px;
    width: 30vw;
    padding: 8px 30px 8px 30px;
    margin: 0px 0px 20px 0px;
}

.form form textarea {
    font-size: 16px;
    font-weight: 400;
    color: #58555D;
    border: 1px solid #686868;
    border-radius: 7px;
    width: 30vw;
    padding: 8px 30px 100px 30px;
    margin: 0px 0px 20px 0px;
    resize: none;
}

#submit {
    font-size: 16px;
    color: #FFFFFF;
    background: #FF4081;
    border-radius: 30px;
    width: 10vw;
    align-self: flex-start;
    cursor: pointer;
}

.cursos {
    padding: 7vw 0 0 7vw;
}

.cursos h1 {
    color: #FF4081;
    font-size: 320%;
}

.section-cursos {
    display: flex;
    
}

.section-cursos img {
    width: 20vw;
    padding: 5vw 5vw 5vw 0;
    margin-bottom: -0.4vh;
}

.section-cursos h2 {
    color: #FF4081;
    font-size: 180%;
    margin: 5vw 0 3vw ;
}

.div-cursos {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.div-cursos p {
    width: 52vw;
    margin-bottom: 3vw;
}

.linha {
    margin-left: 8vw;
    border-bottom: 3px solid #C4C4C4;
}

.margin-left-section-cursos {
    margin-left: 8vw;
}

.body-cursos {
    background-color: #E5E5E5;
}

.btn-cursos {
    border-radius: 47px;
    background-color:#419488;
    color: #E5E5E5;
    padding: 7px 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    margin-right: 8vw;
}

.section-blog {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section-blog h1 {
    width: 37vw;
    font-size: 300%;
    margin: 0 13.5vw 6vh 8vw;
    color: #009688;
}

.section-blog p {
    width: 37vw;
    margin-left: 8vw;
}

.section-grid-cursos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.section-grid-cursos div {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    width: 37vw;
    padding: 3vw;
    margin-left: 4vw;
    flex-direction: column;
}

.section-grid-cursos img {
    width: 37vw;
}

.section-grid-cursos h3 {
    color: #FF4081;
    margin: 2vh 0;
}

.section-grid-cursos p {
    margin-bottom: 5vh;
}